@model Asp.NetCoreIdentity.Models.NewPasswordViewModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
}


@if (ViewBag.status == "success")
{
    <div class="alert alert-info">Şifreniz başarıyla yenilenmiştir.</div>
    <a class="btn btn-link" asp-action="Login" asp-controller="Account">Giriş için tıklayanız.</a>
}
else
{
    <h4>Şifre Yenileme Formu</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ResetPasswordConfirm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Yeni şifre oluştur" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}